:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 7044px;
  margin: 0 auto;
  background: #eaeaea;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 1000px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: visible auto;
}
.flex-row-cd {
  position: relative;
  width: 1307px;
  height: 28px;
  margin: 31px 0 0 70px;
  z-index: 8;
}
.tentang-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 0;
  left: 1079px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.kontak {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 0;
  left: 1235px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 166px;
  height: 28px;
  top: 0;
  left: 0;
  z-index: 6;
}
.home {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.sejarah {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.flex-row-fe {
  position: relative;
  width: 1302px;
  height: 549px;
  margin: 164px 0 0 71px;
  z-index: 18;
}
.himpunan-mahasiswa-bisnis-digital {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 1065px;
  height: 228px;
  top: 0;
  left: calc(50% - 532px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 105px;
  font-weight: 500;
  line-height: 113.833px;
  text-align: center;
  text-overflow: initial;
  z-index: 9;
  overflow: hidden;
}
.universitas-pgri-semarang {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 1302px;
  height: 113px;
  top: 215px;
  left: calc(50% - 651px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 96px;
  font-weight: 500;
  line-height: 104.076px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.logo-baru-bisdig-vb {
  position: absolute;
  width: 254px;
  height: 254px;
  top: 271px;
  left: 715px;
  background: url(../assets/images/75b96b37dbea0d28430e5436c3a39313508bfc67.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.logo-upgris {
  position: absolute;
  width: 109px;
  height: 140px;
  top: 328px;
  left: 595px;
  background: url(../assets/images/ef575c9986fd1dfdd20e1251e4276c91e5f5350a.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.empty {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 337px;
  left: 462px;
  background: url(../assets/images/5e899177b1e37a5a7c0e9a8fae00f492023138e0.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.rectangle-1 {
  position: absolute;
  width: 269px;
  height: 53px;
  top: 496px;
  left: 340px;
  background: #0540f2;
  z-index: 11;
  border-radius: 60px;
}
.visi-misi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 137px;
  height: 26px;
  top: 13px;
  left: calc(50% - 68.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-2 {
  position: absolute;
  width: 269px;
  height: 53px;
  top: 496px;
  left: 689px;
  border: 1px solid #ffffff;
  z-index: 14;
  border-radius: 60px;
}
.tentang-kami-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 154px;
  height: 26px;
  top: 12px;
  left: calc(50% - 77.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 15;
}
.flex-row-df {
  position: relative;
  width: 3089px;
  height: 1020.992px;
  margin: 1px 0 0 70px;
  z-index: 216;
}
.rectangle-4 {
  position: absolute;
  width: 1719px;
  height: 997px;
  top: 0;
  left: 1370px;
  background: #d9d9d9;
  z-index: 216;
}
.himpunan-mahasiswa-bisnis-digital-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 681px;
  height: 137.976px;
  top: 160px;
  left: calc(50% - 1544.5px);
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 69.064px;
  text-align: left;
  z-index: 23;
}
.img {
  position: absolute;
  width: 290px;
  height: 514px;
  top: 186px;
  left: 681px;
  background: url(../assets/images/2e5507b9-c2c4-458a-b837-d7f20027ac3b.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.img-6 {
  position: absolute;
  width: 499px;
  height: 586px;
  top: 251px;
  left: 12px;
  background: url(../assets/images/7bf7a1a2844671c21d913f81f7cfa04e437dd6aa.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}
.rectangle-7 {
  position: absolute;
  width: 184.43px;
  height: 133.122px;
  top: 347px;
  left: 1115px;
  font-size: 0px;
  background: #ffffff;
  z-index: 26;
  border-radius: 25px;
}
.empty-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 51.469px;
  height: 36.687px;
  margin: 36.687px 0 0 66.481px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 34.532px;
  text-align: center;
  white-space: nowrap;
  z-index: 27;
}
.program-kerja {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 110px;
  height: 45px;
  margin: -0.37px 0 0 38px;
  color: #222222;
  font-family: Montagu Slab, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: center;
  z-index: 28;
}
.rectangle-9 {
  position: absolute;
  width: 530px;
  height: 541px;
  top: 410px;
  left: 0;
  background: #0540f2;
  z-index: 33;
  border-radius: 30px;
}
.rectangle-a {
  position: absolute;
  width: 433px;
  height: 386px;
  top: 414px;
  left: 606px;
  background: #0540f2;
  z-index: 35;
  border-radius: 30px;
}
.rectangle-b {
  position: absolute;
  width: 184.43px;
  height: 133.122px;
  top: 520.122px;
  left: 1115px;
  font-size: 0px;
  background: #ffffff;
  z-index: 30;
  border-radius: 25px;
}
.empty-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 51.469px;
  height: 36.687px;
  margin: 36.687px 0 0 66.481px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 34.532px;
  text-align: center;
  white-space: nowrap;
  z-index: 31;
}
.agenda {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 110.444px;
  height: 23.06px;
  margin: 0px 0 0 37.529px;
  color: #222222;
  font-family: Montagu Slab, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
}
.rectangle-d {
  position: absolute;
  width: 177px;
  height: 168px;
  top: 527px;
  left: 473px;
  font-size: 0px;
  background: #ffffff;
  z-index: 37;
  border-radius: 25px;
}
.empty-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 79px;
  height: 35px;
  margin: 31px 0 0 49px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 34.532px;
  text-align: center;
  white-space: nowrap;
  z-index: 39;
}
.anggota {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 107px;
  height: 22px;
  margin: 0 0 0 35px;
  color: #222222;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.image {
  position: relative;
  width: 80px;
  height: 38px;
  margin: 10px 0 0 48px;
  background: url(../assets/images/2848a9f1-9967-4fbf-b85a-1b7c64a432a0.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.img-f {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 21px;
  background: url(../assets/images/abd1ddb32766de32123819b6f47d9d58ca8f7958.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  border-radius: 360px;
}
.img-10 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 42px;
  background: url(../assets/images/abd1ddb32766de32123819b6f47d9d58ca8f7958.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  border-radius: 360px;
}
.img-11 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 1px;
  background: url(../assets/images/abd1ddb32766de32123819b6f47d9d58ca8f7958.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 360px;
}
.rectangle-12 {
  position: absolute;
  width: 436px;
  height: 100px;
  top: 700px;
  left: 603px;
  font-size: 0px;
  background: #ffffff;
  z-index: 44;
  border-radius: 30px;
}
.david-risyad-raffi {
  display: block;
  position: relative;
  height: 49px;
  margin: 1px 0 0 46px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 45px;
  font-weight: 500;
  line-height: 48.56px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.wakil-ketua-umum {
  display: block;
  position: relative;
  height: 31px;
  margin: 0 0 0 105px;
  color: #0540f2;
  font-family: Mulish, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.himpunan-mahasiswa-bisnis-digital-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 671px;
  height: 120px;
  top: 824px;
  left: 592px;
  color: #222222;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  z-index: 24;
}
.rectangle-14 {
  position: absolute;
  width: 532px;
  height: 114px;
  top: 837px;
  left: 0;
  font-size: 0px;
  background: #ffffff;
  z-index: 34;
  border-radius: 30px;
}
.gatut-zakka-habibi-w {
  display: block;
  position: relative;
  height: 49px;
  margin: 17px 0 0 66px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 45px;
  font-weight: 500;
  line-height: 48.56px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.ketua-umum {
  display: block;
  position: relative;
  height: 31px;
  margin: 3px 0 0 178px;
  color: #0540f2;
  font-family: Mulish, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.rectangle-15 {
  position: absolute;
  width: 269px;
  height: 47.992px;
  top: 973px;
  left: 601px;
  background: #0540f2;
  z-index: 21;
  border-radius: 60px;
}
.read-more {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 137px;
  height: 23.543px;
  top: 11.772px;
  left: calc(50% - 68.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 23.543px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.struktur-organisasi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1000.77px;
  height: 138px;
  margin: 41.008px 0 0 223px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 69.064px;
  text-align: center;
  z-index: 134;
}
.rectangle-16 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 329px;
  height: 64.813px;
  margin: 92px 0 0 557px;
  background: #ffffff;
  z-index: 141;
  border-radius: 25px;
}
.ketua-umum-17 {
  flex-shrink: 0;
  position: relative;
  height: 34.37px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 34.37px;
  text-align: left;
  white-space: nowrap;
  z-index: 141;
}
.gambar-whatsapp {
  position: relative;
  width: 1441px;
  height: 502px;
  margin: 256.187px 0 0 -1px;
  background: url(../assets/images/b78418b7-423d-4899-8909-d8473fb1d0cf.png)
    no-repeat center;
  background-size: cover;
  z-index: 174;
  overflow: visible auto;
}
.rectangle-18 {
  position: relative;
  width: 1441px;
  height: 502px;
  margin: 0 0 0 1px;
  background: rgba(0, 0, 0, 0.65);
  z-index: 175;
}
.go-digital-beyond {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95px;
  top: 204px;
  left: calc(50% - 570.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 90px;
  font-weight: 500;
  line-height: 95px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.65;
  z-index: 176;
}
.flex-row {
  position: relative;
  width: 1295px;
  height: 150px;
  margin: 125px 0 0 75px;
  z-index: 95;
}
.kegiatan-himpunan-mahasiswa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 747px;
  height: 138px;
  top: 0;
  left: calc(50% - 647.5px);
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 69.064px;
  text-align: left;
  z-index: 92;
}
.himpunan-mahasiswa-bisnis-digital-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 596px;
  height: 48px;
  top: 21px;
  left: calc(50% - -51.5px);
  color: #222222;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  z-index: 93;
}
.rectangle-1a {
  position: absolute;
  width: 269px;
  height: 48px;
  top: 102px;
  left: 1026px;
  background: #0540f2;
  z-index: 95;
  border-radius: 60px;
}
.view-all {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 212px;
  height: 23px;
  top: 12px;
  left: calc(50% - 105.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 96;
}
.flex-row-c {
  position: relative;
  width: 1391px;
  height: 636px;
  margin: 58px 0 0 25px;
  z-index: 132;
}
.rectangle-1b {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 45px;
  font-size: 0px;
  background: #ffffff;
  z-index: 98;
  border-radius: 25px;
}
.maret {
  display: block;
  position: relative;
  height: 27px;
  margin: 372px 0 0 32px;
  color: #222222;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.rectangle-1c {
  position: relative;
  width: 163.949px;
  height: 29.255px;
  margin: 176px 0 0 166px;
  background: #0540f2;
  z-index: 106;
  border-radius: 60px;
}
.read-more-1d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 107;
}
.gambar-whatsapp-1e {
  position: absolute;
  width: 397px;
  height: 321px;
  top: 0;
  left: 0;
  background: url(../assets/images/baddaa9d-3f5c-4e89-924c-6b91a1fc5e4c.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
  border-radius: 25px;
}
.rectangle-1f {
  position: absolute;
  width: 397px;
  height: 69.031px;
  top: 292.969px;
  left: 0;
  background: #0540f2;
  z-index: 101;
  border-radius: 19px;
}
.raker-upgrading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 102;
}
.rectangle-20 {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 498px;
  font-size: 0px;
  background: #ffffff;
  z-index: 110;
  border-radius: 25px;
}
.mei {
  display: block;
  position: relative;
  height: 27px;
  margin: 372px 0 0 32px;
  color: #222222;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.rectangle-21 {
  position: relative;
  width: 163.949px;
  height: 29.255px;
  margin: 176px 0 0 187px;
  background: #0540f2;
  z-index: 118;
  border-radius: 60px;
}
.read-more-22 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 119;
}
.gambar-whatsapp-23 {
  position: absolute;
  width: 397px;
  height: 321px;
  top: 0;
  left: 0;
  background: url(../assets/images/6a08471540225b0509ca013f3b396e5466d670ab.png)
    no-repeat center;
  background-size: cover;
  z-index: 111;
  border-radius: 25px;
}
.rectangle-24 {
  position: absolute;
  width: 397px;
  height: 69.031px;
  top: 292.969px;
  left: 0;
  background: #0540f2;
  z-index: 113;
  border-radius: 19px;
}
.gathering {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 114;
}
.rectangle-25 {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 951px;
  font-size: 0px;
  background: #ffffff;
  z-index: 121;
  border-radius: 25px;
}
.april {
  display: block;
  position: relative;
  height: 27px;
  margin: 372px 0 0 32px;
  color: #222222;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.rectangle-26 {
  position: relative;
  width: 163.949px;
  height: 29.255px;
  margin: 176px 0 0 199px;
  background: #0540f2;
  z-index: 129;
  border-radius: 60px;
}
.read-more-27 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 130;
}
.gambar-whatsapp-28 {
  position: absolute;
  width: 397px;
  height: 311px;
  top: 0;
  left: 0;
  background: url(../assets/images/32f4db40-fab1-4c21-b4bb-c197dfa3cbbf.png)
    no-repeat center;
  background-size: cover;
  z-index: 122;
  border-radius: 30px;
}
.rectangle-29 {
  position: absolute;
  width: 397px;
  height: 69.031px;
  top: 292.969px;
  left: 0;
  background: #0540f2;
  z-index: 124;
  border-radius: 19px;
}
.diprodi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 125;
}
.vector {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 308px;
  left: 0;
  background: url(../assets/images/16a425a1-e831-4b78-b0a2-4d324f3f7e37.png)
    no-repeat center;
  background-size: cover;
  z-index: 131;
}
.vector-2a {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 308px;
  left: 1374px;
  background: url(../assets/images/95983595-d1be-47b7-a0f5-c1d05c5a460e.png)
    no-repeat center;
  background-size: cover;
  z-index: 132;
}
.rapat-kerja {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 408px;
  left: calc(50% - 625.5px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 103;
}
.gathering-hima-bisdig {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 408px;
  left: calc(50% - 172.5px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 115;
}
.diprodi-dialog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 408px;
  left: calc(50% - -280.5px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 126;
}
.rectangle-2b {
  position: relative;
  width: 1440px;
  height: 830px;
  margin: 85px 0 0 0;
  background: #0540f2;
  z-index: 53;
  overflow: visible auto;
}
.flex-row-df-2c {
  position: relative;
  width: 1261px;
  height: 716px;
  margin: 24px 0 0 152px;
  z-index: 67;
}
.bidang-minat-bakat {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 663px;
  height: 81px;
  top: 0;
  left: calc(50% - 382.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 75px;
  font-weight: 500;
  line-height: 80.934px;
  text-align: center;
  white-space: nowrap;
  z-index: 54;
}
.rectangle-2d {
  position: absolute;
  width: 269px;
  height: 48px;
  top: 12px;
  left: 992px;
  background: #ffffff;
  z-index: 67;
  border-radius: 60px;
}
.view-all-2e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 212px;
  height: 23px;
  top: 12px;
  left: calc(50% - 105.5px);
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 68;
}
.img-2f {
  position: absolute;
  width: 523px;
  height: 655px;
  top: 60px;
  left: 326px;
  background: url(../assets/images/fc5eb42d-16a6-4fcb-b219-884a2e0ea59c.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.ketua-bidang {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 290px;
  height: 27px;
  top: 121px;
  left: calc(50% - 32.5px);
  color: #ffffff;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 26.978px;
  text-align: center;
  white-space: nowrap;
  z-index: 63;
}
.img-30 {
  position: absolute;
  width: 550px;
  height: 584px;
  top: 131px;
  left: 8px;
  background: url(../assets/images/5ac37aa4-0b11-4b6e-b650-555a7125cd98.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.sekretaris-bidang {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 290px;
  height: 27px;
  top: 15px;
  left: calc(50% - 87px);
  color: #ffffff;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 26.978px;
  text-align: center;
  white-space: nowrap;
  z-index: 64;
}
.img-31 {
  position: absolute;
  width: 491px;
  height: 553px;
  top: 163px;
  left: 657px;
  background: url(../assets/images/9731d8d6-a14e-4d06-b1d4-2fbc638afde7.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.staff-bidang {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 290px;
  height: 27px;
  top: 184px;
  left: calc(50% - -307.5px);
  color: #ffffff;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 26.978px;
  text-align: center;
  white-space: nowrap;
  z-index: 65;
}
.rectangle-32 {
  position: absolute;
  width: 1042px;
  height: 367px;
  top: 348px;
  left: 57px;
  background: url(../assets/images/e6033694-846d-4f42-89b7-42223128e1ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.lorem-ipsum {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 640.493px;
  height: 48px;
  top: 319px;
  left: calc(50% - 330px);
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  z-index: 55;
}
.vector-33 {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 503px;
  left: 0;
  background: url(../assets/images/dec85e03-b1a5-43e6-9a8b-e493ada3699e.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.vector-34 {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 503px;
  left: 1139px;
  background: url(../assets/images/e8048d5d-4588-4ee6-912d-10e4c25fd5a1.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.putri-kusumawati {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 980px;
  height: 49px;
  margin: 8px 0 0 242px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 45px;
  font-weight: 500;
  line-height: 48.56px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.flex-row-c-35 {
  position: relative;
  width: 1295px;
  height: 150px;
  margin: 181px 0 0 73px;
  z-index: 181;
}
.informasi-lainnya-bisnis-digital {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 747px;
  height: 138px;
  top: 0;
  left: calc(50% - 647.5px);
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 69.064px;
  text-align: left;
  z-index: 178;
}
.informasi-lainnya-seputar-program-studi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 596px;
  height: 48px;
  top: 21px;
  left: calc(50% - -51.5px);
  color: #222222;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  z-index: 179;
}
.rectangle-36 {
  position: absolute;
  width: 269px;
  height: 48px;
  top: 102px;
  left: 1026px;
  background: #0540f2;
  z-index: 181;
  border-radius: 60px;
}
.view-all-37 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 212px;
  height: 23px;
  top: 12px;
  left: calc(50% - 105.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 182;
}
.flex-row-d {
  position: relative;
  width: 1387px;
  height: 636px;
  margin: 58px 0 0 27px;
  z-index: 215;
}
.rectangle-38 {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 41px;
  background: #ffffff;
  z-index: 184;
  border-radius: 25px;
}
.gambar-whatsapp-39 {
  position: absolute;
  width: 397px;
  height: 333px;
  top: 0;
  left: 0;
  background: url(../assets/images/7acee51a31ee960904f8216341f4b41ceb637c5b.png)
    no-repeat center;
  background-size: cover;
  z-index: 185;
  border-radius: 25px;
}
.rectangle-3a {
  position: absolute;
  width: 397px;
  height: 69.031px;
  top: 292.969px;
  left: 0;
  background: #0540f2;
  z-index: 187;
  border-radius: 19px;
}
.pmb-bisnis-digital {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 188;
}
.melayani-pendaftaran {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 386px;
  left: calc(50% - 180.71px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 189;
}
.rectangle-3b {
  position: absolute;
  width: 163.949px;
  height: 29.255px;
  top: 575px;
  left: 166px;
  background: #0540f2;
  z-index: 191;
  border-radius: 60px;
}
.read-more-3c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 192;
}
.gambar-whatsapp-3d {
  position: absolute;
  width: 402px;
  height: 321px;
  top: 0;
  left: 492px;
  background: url(../assets/images/ac62a012-fc8f-4d09-8eab-ba8d23cd6954.png)
    no-repeat center;
  background-size: cover;
  z-index: 196;
  border-radius: 25px;
}
.rectangle-3e {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 494px;
  background: #ffffff;
  z-index: 195;
  border-radius: 25px;
}
.rectangle-3f {
  position: relative;
  width: 397px;
  height: 69.031px;
  margin: 292.969px 0 0 0;
  background: #0540f2;
  z-index: 198;
  border-radius: 19px;
}
.juara-taekwondo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 199;
}
.tabah-habib-soeharto {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 395px;
  left: calc(50% - 173.71px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 200;
}
.rectangle-40 {
  position: absolute;
  width: 163.949px;
  height: 29.255px;
  top: 575px;
  left: 187px;
  background: #0540f2;
  z-index: 202;
  border-radius: 60px;
}
.read-more-41 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 203;
}
.rectangle-42 {
  position: absolute;
  width: 397.418px;
  height: 622px;
  top: 0;
  left: 947px;
  background: #ffffff;
  z-index: 205;
  border-radius: 25px;
}
.rectangle-43 {
  position: relative;
  width: 397px;
  height: 69.031px;
  margin: 292.969px 0 0 0;
  background: #0540f2;
  z-index: 208;
  border-radius: 19px;
}
.uang-tahun-prodi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 293px;
  height: 33px;
  top: 12.031px;
  left: calc(50% - 145.5px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  white-space: nowrap;
  z-index: 209;
}
.rectangle-44 {
  position: relative;
  width: 163.949px;
  height: 29.255px;
  margin: 213px 0 0 199px;
  background: #0540f2;
  z-index: 212;
  border-radius: 60px;
}
.read-more-45 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 129.209px;
  height: 14.018px;
  top: 1px;
  left: calc(50% - 64.97px);
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 14.018px;
  text-align: center;
  white-space: nowrap;
  z-index: 213;
}
.gambar-whatsapp-46 {
  position: absolute;
  width: 399px;
  height: 322px;
  top: 0;
  left: 947px;
  background: url(../assets/images/38bc040b-4f84-4833-8752-9ce48f721612.png)
    no-repeat center;
  background-size: cover;
  z-index: 206;
  border-radius: 25px;
}
.vector-47 {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 310px;
  left: 1370px;
  background: url(../assets/images/2a7c7311-8dfb-4bbd-97e5-a8f022a1b793.png)
    no-repeat center;
  background-size: cover;
  z-index: 214;
}
.vector-48 {
  position: absolute;
  width: 17px;
  height: 29px;
  top: 312px;
  left: 0;
  background: url(../assets/images/5599d387-fd3d-4f28-b45e-da313438e9d8.png)
    no-repeat center;
  background-size: cover;
  z-index: 215;
}
.tanggal-juli {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 362px;
  height: 228px;
  top: 408px;
  left: calc(50% - -278.5px);
  color: #0540f2;
  font-family: Anek Odia, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26.88px;
  text-align: left;
  z-index: 210;
}
.ayo-gabung {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 747px;
  height: 138px;
  margin: 113px 0 0 346px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 69.064px;
  text-align: center;
  z-index: 85;
}
.program-studi-bisnis-digital {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 751px;
  height: 48px;
  margin: 97px 0 0 343px;
  color: #222222;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  z-index: 89;
}
.rectangle-49 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 269px;
  height: 48px;
  margin: 54px 0 0 571px;
  background: #0540f2;
  z-index: 88;
  border-radius: 60px;
}
.join-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 212px;
  height: 23px;
  color: #ffffff;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 88;
}
.rectangle-4a {
  position: relative;
  width: 1440px;
  height: 436px;
  margin: 85px 0 0 0;
  font-size: 0px;
  background: #0540f2;
  z-index: 71;
  overflow: visible auto;
}
.copyright-himabisdigupgris {
  display: block;
  position: relative;
  height: 24px;
  margin: 389px 0 0 587px;
  color: #ffffff;
  font-family: Markazi Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.flex-row-b {
  position: absolute;
  width: 1203px;
  height: 245px;
  top: 100px;
  left: 70px;
  z-index: 90;
}
.location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 77px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Bitter, var(--default-font-family);
  font-size: 64px;
  font-weight: 500;
  line-height: 76.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 0;
  left: 501px;
  color: #ffffff;
  font-family: Bitter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.gambar-whatsapp-4b {
  position: absolute;
  width: 191px;
  height: 191px;
  top: 54px;
  left: 1012px;
  background: url(../assets/images/513e07088a82f8cf7a59f7f892eb20ad7667fcc5.png)
    no-repeat center;
  background-size: cover;
  z-index: 90;
}
.instagram-himabisdigupgris {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 69px;
  left: 501px;
  color: #ffffff;
  font-family: Merriweather Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 451px;
  height: 124px;
  top: 95px;
  left: 0;
  color: #ffffff;
  font-family: Merriweather Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.425px;
  text-align: left;
  z-index: 74;
}
.youtube-himabisdigupgris {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 117px;
  left: 501px;
  color: #ffffff;
  font-family: Merriweather Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.email-himabisdigupgris {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 165px;
  left: 501px;
  color: #ffffff;
  font-family: Merriweather Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.tiktok-himabisdigupgris {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 213px;
  left: 501px;
  color: #ffffff;
  font-family: Merriweather Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.saran-masukkan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53px;
  top: 100px;
  left: 986px;
  color: #ffffff;
  font-family: Bitter, var(--default-font-family);
  font-size: 45px;
  font-weight: 500;
  line-height: 53px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.gambar-whatsapp-4c {
  position: absolute;
  width: 1440px;
  height: 1000px;
  top: 0;
  left: 0;
  background: url(../assets/images/23e4907c14bbb3f5961f009bf5ed8c03ee8dd7ed.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-row-e {
  position: absolute;
  top: 2358px;
  right: 550px;
  bottom: 4476px;
  left: 554px;
  z-index: 171;
}
.line {
  position: absolute;
  width: 2px;
  height: 210.005px;
  top: 0px;
  left: 166px;
  background: url(../assets/images/a6f40e9d-3310-49c5-a7a2-abd07f74deb4.png)
    no-repeat center;
  background-size: cover;
  z-index: 137;
}
.rectangle-4d {
  position: absolute;
  width: 329px;
  height: 64.813px;
  top: 38px;
  left: 3px;
  background: #ffffff;
  z-index: 171;
  border-radius: 25px;
}
.ketua-umum-4e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 15px;
  left: 33px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 34.532px;
  text-align: left;
  white-space: nowrap;
  z-index: 173;
}
.line-4f {
  position: absolute;
  width: 336px;
  height: 1px;
  top: 50%;
  left: 50%;
  background: url(../assets/images/920715db-f4e1-4f0c-a03b-1eff8b6eeb02.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 4000%);
  z-index: 136;
}
.flex-row-baaa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 956px;
  height: 50.281px;
  top: 2478px;
  left: 246px;
  z-index: 167;
}
.rectangle-50 {
  flex-shrink: 0;
  position: relative;
  width: 312px;
  height: 49.281px;
  background: #ffffff;
  z-index: 167;
  border-radius: 25px;
}
.sekertaris-umum {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 12px;
  left: 56px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 169;
}
.bendahara-umum {
  flex-shrink: 0;
  position: relative;
  width: 312px;
  height: 49.281px;
  background: #ffffff;
  z-index: 159;
  border-radius: 25px;
}
.ketua-umum-51 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 10px;
  left: 56px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 161;
}
.flex-row-f {
  position: absolute;
  top: 2552px;
  right: 49px;
  bottom: 4451.038px;
  left: 48px;
  z-index: 163;
}
.rectangle-52 {
  position: absolute;
  width: 253px;
  height: 39.962px;
  top: 0;
  left: 819px;
  background: #ffffff;
  z-index: 147;
  border-radius: 25px;
}
.bidang-shosum {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 5.47px;
  left: 45px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 149;
}
.bidang-kominfo {
  position: absolute;
  width: 253px;
  height: 39.962px;
  top: 1px;
  left: 0;
  background: #ffffff;
  z-index: 163;
  border-radius: 25px;
}
.bidang-sdm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 5.47px;
  left: 49px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 165;
}
.bidang-minat-bakat-53 {
  position: absolute;
  width: 253px;
  height: 39.962px;
  top: 1px;
  left: 273px;
  background: #ffffff;
  z-index: 155;
  border-radius: 25px;
}
.bidang-keilmuan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 5.47px;
  left: 64px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.rectangle-54 {
  position: absolute;
  width: 253px;
  height: 39.962px;
  top: 1px;
  left: 546px;
  background: #ffffff;
  z-index: 151;
  border-radius: 25px;
}
.ketua-umum-55 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 5px;
  left: 26px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
}
.ketua-umum-56 {
  position: absolute;
  width: 253px;
  height: 39.962px;
  top: 1px;
  left: 1090px;
  background: #ffffff;
  z-index: 143;
  border-radius: 25px;
}
.ketua-umum-57 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 5.47px;
  left: 35px;
  color: #0540f2;
  font-family: Abhaya Libre Medium, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 145;
}
.line-58 {
  position: absolute;
  width: 837.001px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: url(../assets/images/abf8d3d2-dbfb-48e2-992b-07914cc75d5f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, -74.04%);
  z-index: 135;
}
